// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";


@mixin focus($color, $darken-percent: 20%) {
  $box-shadow: 0 0 0 ($base-font-size / 4) darken($color, $darken-percent);
  @if & {
    &:focus {
      outline: none;
      box-shadow: $box-shadow;
    }
  } @else {
    :focus {
      outline: none;
      box-shadow: $box-shadow;
    }
  }
}

@include focus($action-color);

.negative {
  @include focus($negative-color);
}
