#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $base-font-color;
  border-radius: $base-border-radius;
  border: none;
  color: $base-background-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: 0 0.5em;
  text-decoration: none;
  user-select: none;
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    background-color: $action-color;
    color: $base-background-color;
  }

  &:disabled {
    background-color: $base-font-color;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::before {
    content: "+=\00A0";
    display: inline-block;
  }
  &::after {
    content: "\00A0=+";
    display: inline-block;
  }
  &.negative {
    box-shadow: inset 2.125em 0 #ef5734, inset -2.125em 0 #ef5734,;
    // border: 0.25em solid #ef5734;
    &:hover,
    &:focus {
      background-color: $negative-color;
    }
    &::before {
      content: "-=\00A0";
    }
    &::after {
      content: "\00A0=-";
    }
  }
}
