@import "index";

// after

svg {
  fill: $base-font-color;
}

#title {
  margin: 3em auto;
}

h1 {
  font-size: 1.5em;
}

.window {
  max-width: 24em;
  margin: 1em auto;
}

.pane {
  margin: 1em;
  text-align: center;
}

.menu {
  margin: 2em auto;
  li {
    margin: 0.125em 0;
  }
  a, button {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.75em 2.5em;
    &::before, &::after {
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -0.75em;
    }
    &::before {
      left: 0.5em;
    }
    &::after {
      right: 0.5em;
    }
  }
  .list-separator {
    font-size: $base-font-size/2;
    height: 0.5em;
    border-color: transparentize($base-font-color, 0.5);
    border-style: solid none;
    border-width: 0.125em;
    margin: 0.5em;
  }
}
