<h1>
  Character creation
</h1>
<p>
  <label>Name:
    {{input value=name type='text' }}
  </label>
</p>
<ul class="menu">
  <li><a href="" {{action 'done' name}}>Done</a></li>
  <li>{{#link-to 'index'}}Back Title{{/link-to}}</li>
</ul>
