<h1>
  Create A Player
</h1>
<p>
  <label>Name:
    {{input value=name type='text'
        focus-in='nameFocusIn' focus-out='nameFocusOut'}}
  </label>
</p>
<p>
  <label>Id:
    {{input value=id type='text'}}
  </label>
  {{#if isIdConflict}}
    Seems that Id is taken friend, try another.
  {{/if}}
</p>
<ul class="menu">
  <li>
    <button class="btn-positive"{{action 'done' name id isValid}}
    disabled={{unless isValid true}}>
      Create
    </button>
  </li>
  <li class="list-separator"></li>
  <li>{{#link-to 'index'}}Back Title{{/link-to}}</li>
</ul>
