<h1 id="title">
  {{partial 'art/title-mark'}}
</h1>
{{#if model}}<h2>Players: ({{model.length}})</h2>{{/if}}
<ul class="menu">
  {{#each model as |entity|}}
    <li>{{#link-to 'edit' entity}}{{entity.id}}{{/link-to}}</li>
  {{/each}}
  {{#if model}}<li class="list-separator"></li>{{/if}}
  <li>{{#link-to 'create'}}Create Player{{/link-to}}</li>
</ul>
